<!-- <h2 class="t">Capstone Inc.</h2> -->
<div class="navbar-header ">
    <h2  >Capstone Inc.</h2>
  </div>
<br>
  <div class="sidebar">
      
        
              <div><a class="home" routerLink="/home" routerLinkActive="active">Home</a></div>
          
          
            <div><a class="onboarding" routerLink="/onboarding" routerLinkActive="active">Onboarding Customer</a>
           
        
      
  </div>

  <div class="footer navbar-fixed-bottom">
      <h3 class="navbar-brand"> Footer &#169; 2022 </h3>
  </div>

 